/*Geral*/
/* Inicio Elemento raiz*/
:root {
    --cor-texto: #fff;
    --cor-transicao: #D91656;
    --fonte-principal: 'Franklin Gothic Medium';
}
/* Fim Elemento raiz*/

/* Inicio reset da pagina*/
* {
    margin: 0;
    padding: 0;
}
/* Fim reset da pagina*/

/* Inicio estilização geral*/
body {
    width: 100%;
    height: 100vh;
    background-image: url(/Portifolio30.10.24/img/fundo-rede.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
/* Fim estilização geral*/

/*Inicio Navegador Geral*/
.cabecalho__menu {
    display: flex;
    gap: 2em;
    justify-content: flex-end;
}

.cabecalho__menu__logo {
    margin-right: auto;
}

.cabecalho__menu-link {
    text-decoration: none;
    margin-right: 20px;
    padding-left: 20px;
    padding-top: 1rem;
    color: var(--cor-texto);
    font-family: var(--fonte-principal);
}

.cabecalho__menu-link:hover {
    color: var(--cor-transicao);
}
/*Fim Navegador Geral*/

/*Inicio Apresentação paginas index, sobreMim e Projetos  */
.apresentacao {
    display: flex;
    margin: 0 3%;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

/*Fim Apresentação paginas index, sobreMim e Projetos  */

/*Inicio Apresentação paginas index e sobreMim  */
.apresentacao__conteudo {
    flex: 1; 
    margin-right:40px;
}

.apresentacao__conteudo__texto {
    color: var(--cor-texto);
    font-size: 50px;
    gap: 1em;
    margin-top: 25%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.apresentação__conteudo-paragrafo {
    color: var(--cor-texto);
    font-size: 20px;
    gap: 1em;
    margin-top: 5%;
    padding-right: 5%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

strong {
    color: var(--cor-transicao);
}
/*Fim Apresentação paginas index e sobreMim  */

/*inicio Pg index na tag stong para sumir o nome ao carregar a pg*/
.invisivel {
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/*Fim Pg index na tag stong para sumir o nome ao carregar a pg*/

/*Inicio cards com as liguagens*/
.card-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 30%;
    height: 50%;
    overflow: hidden;
    margin: 50px 25px;
    padding: 15px;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    position: relative; /* Para que o texto fique sobreposto à imagem */
    background-color: transparent; /* Removendo o fundo branco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 100px;
    height: 100px;
    overflow: hidden; /* Garantindo que o conteúdo extra não "vaze" */
    cursor: pointer;
}

.logo_img {
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/ /*A imagem se ajusta ao tamanho do card*/
    transition: transform 0.5s ease; /* Suave transição da opacidade */
}

.card:hover .logo_img {
    transform: scale(1.05);
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente sobreposto */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    opacity: 0; /* Invisível por padrão */
    transition: opacity 0.5s ease; /* Suave transição para a opacidade */
}

/* Estilos para o parágrafo escondido */
.info p {
    margin: 0;
    font-size: 14px;
    color: #666;
    line-height: 1.4;
    background-color: transparent; /* Background transparente por padrão */
    padding: 10px;
    display: none; /* Escondido por padrão */
    transition: background-color 0.3s, font-size 0.3s; /* Suave transição */
}

.info.show p {
    display: block;
    background-color: #f5f5f5; /* Cor de fundo após o clique */
    font-size: 16px; /* Tamanho do texto maior após o clique */
}


.card-container.active .info {
    opacity: 1; /* Exibir o texto quando o card estiver ativo */
}

.card-container.active .logo_img {
    opacity: 0.3; /* Tornar a imagem menos visível ao exibir o texto */
}

/*Fim cards com as liguagens*/

/*Inicio imagem da pg sobreMim*/
.imagem__principal {
    width: 40%;
    margin: auto;
    justify-content: end;
}

.imagem__arredondada {
    border-radius: 50%;
}
/*Fim imagem da pg sobreMim*/

/*Inicio pg Projetos*/
/* Estilos dos cards */

.apresentacao_card {
    max-width: 1000px;
    position: relative;
    background-color: #eceaea;
    display: flex;
    gap: 20px;
    border-radius: 8px;
    justify-content: space-between;
    margin: 10px auto;
    width: 350px;  /* Largura do card */
    height: 300px; /* Altura do card */
    box-shadow: 0px 4px 8px rgba(238, 24, 24, 0.1);
}

.apresentacao_card_cards {
    margin: 100px;
    background-color: #ccc;
    transform: rotate(-28deg);
    padding: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    transition: 1s;
}

.apresentacao_card_cards:hover {
    color: var(--cor-transicao);
    transform: rotate(0deg);
}
/*Fim pg Projetos*/

/*Inicio pg contatos*/
/* Botões */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.btn__Contato {
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.btn__Contato__links {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.btn__Contato__links-titulo {
    font-size: 50px;
    font-family: var(--fonte-principal);
    margin-bottom: 25px;
    margin-top: 10%;
}

.btn__Contato__links-link {
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 50%;
    background-color: var(--cor-transicao);
    border: 2px solid var(--cor-transicao);
    text-decoration: none;
    font-family: var(--fonte-principal);
    padding: 10px;
    border-radius: 8px;
    color: var(--cor-texto);
}

.btn__Contato__links-link:hover {
    background-color: #5c1a30;
}
/*Fim pg contatos*/

/* Rodapé Geral*/
.rodape {
    color: var(--cor-texto);
    padding: 1em 0;
    text-align: center;
    font-size: 16px;
    margin-top: 6%;
    font-family: var(--fonte-principal);
}